<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务-待办任务处理</title>
	#parse('common/path-css.vm')
</head>
<body>
<div class="wrapper">
    <!--planel-->
    <div class="panel">
        <!--planel-head-->
        <div class="panel-head">
            <div class="left mar-left-10">
                <h4 class="has-link">任务</h4>
                <b class="blue-font">待办任务处理</b>
            </div>
            #if($!pageType=='0')
				<a href="$path/main" class="btn btn-back" target="myiframe">返回</a>
			#elseif($!pageType=='1')
				<a href="$path/tasks/task" class="btn btn-back" target="myiframe">返回</a>
			#elseif($!pageType=='2')
				<a href="$path/tasks/relate" class="btn btn-back" target="myiframe">返回</a>
			#elseif($!pageType=='3')
				<a href="$path/statistics/progress" class="btn btn-back" target="myiframe">返回</a>	
			#elseif($!pageType=='4')
				<a href="$path/statistics/launchStati" class="btn btn-back" target="myiframe">返回</a>
			#elseif($!pageType=='5')
				<a href="$path/statistics/deptStati" class="btn btn-back" target="myiframe">返回</a>
			#elseif($!pageType=='6')
				<a href="$path/notices/notice" class="btn btn-back" target="myiframe">返回</a>
			#end
        </div>
        <!--planel-body-->
        <div class="panel-body padding-10 clear around-layout">
            <div class="left">
                <div class="mar-right-10">
                	<input type="hidden" name="uuid" id='uuid' value="$!uuid" data-url="$path/file/upload/">
                    <h3 class="table-title">流程信息</h3>
                    <div class="height-mark1-anchor">
                        <div class="the-information-list border-all indent-span">
                            <p>
                                <label>流程编号</label>
                                <span>$!procinst.procinstCode</span>
                            </p>
                            <p>
                                <label>流程名称</label>
                                <span>$!procinst.procName</span>
                            </p>
                            <p>
                                <label>流程发起人</label>
                                <span>$!procinst.startPerson.name</span>
                            </p>
                            <p>
                                <label>流程启动时间</label>
                                <span>$!procinst.startTime</span>
                            </p>
                            <p>
                                <label>流程状态</label>
                                #if($procinst.status=='0')
                                <span>未完成</span>
                                #end
                                #if($procinst.status=='1')
                                <span>已完成</span>
                                #end
                            </p>
                            <p>
                                <label>流程备注</label>
                                <span>$!procinst.comment</span>
                            </p>
                        </div>
                        <h3 class="table-title">任务信息</h3>
                        <div class="the-information-list border-all indent-span">
                            <p>
                                <label>任务编号</label>
                                <span>$!task.taskCode</span>
                            </p>
                            <p>
                                <label>任务处理人</label>
                                <span>$!task.disposePersion.name</span>
                            </p>
                            <p>
                                <label>流程类型</label>
                                <span>临时任务</span>
                            </p>
                            <p>
                                <label>任务备注</label>
                                <span>$!task.comment</span>
                            </p>
                        </div>
                        #if($t.isBack=='1')
                         <h3 class="table-title">退回信息</h3>
                         <div class="the-information-list border-all indent-span">
                            <p>
                                <label>退回操作人</label>
                                <span>$!t.backPersion.name</span>
                            </p>
                            <p>
                                <label>退回时间</label>
                                <span>$!t.backTime</span>
                            </p>
                            <p>
                                <label>退回备注</label>
                                <span>$!t.backComment</span>
                            </p>
                        </div>
                        #end
                        #if($task.status=='1')
                         <h3 class="table-title">建议信息</h3>
                         #foreach($ass in $listAssignees)
                         <div class="the-information-list border-all indent-span">
                            <p>
                                <label>建议操作人</label>
                                <span>$!ass.suggestUser.name</span>
                            </p>
                            <p>
                                <label>建议时间</label>
                                <span>$!ass.suggestTime</span>
                            </p>
                            <p>
                                <label>建议备注</label>
                                <span>$!ass.comment</span>
                            </p>
                        </div>
                        #end
                        #end
                    </div>
                    <h3 class="table-title blue-font">任务处理</h3>
                    #if($type==0)
                    #if($!task.status=='0')
                    <form id="disposeForm">
                        <div class="the-information-input border-all height-mark2-anchor">
                            <input type="hidden" name="taskId" value="$!task.taskId">
                            <div class="row clear mar-top-10">
                                <label for="task-remarks">任务备注：</label>
                            <textarea rows="5" class="changed-width" placeholder="请输入" id="task-remarks"
                                      name="comment"></textarea>
                            </div>
                           <div class="clear">
                    			<div class="upload-container" style="margin-left:80px;">
                            		<span class="icon icon-pin"></span>
                            		<span id="upload">附件上传</span>
	                        	</div>
	                            <div class="btn-group footer mar-down-10">
	                                <button type="button" class="btn btn-primary" onclick="disposed();">提交</button>
	                            </div>
                   		 	</div>
                        </div>
                    </form>
                    #end
                    #if($!task.status=='1')   
                    <form id="suggestForm">
                        <div class="the-information-input border-all height-mark2-anchor">
                            <input type="hidden" name="taskId" value="$!task.taskId">
                            <div class="row clear mar-top-10">
                                <label for="task-remarks">部室建议：</label>
                            <textarea rows="5" class="changed-width" placeholder="请输入" id="task-remarks"
                                      name="comment"></textarea>
                            </div>
                            <div class="clear">
                    			<div class="upload-container" style="margin-left:80px;">
                            		<span class="icon icon-pin"></span>
                            		<span id="upload">附件上传</span>
                        		</div>
                                <div class="btn-group footer mar-down-10">
                                    <button type="reset" class="btn-cancel btn" > 重置</button>
                                    <button type="button" class="btn btn-primary" onclick="suggested();">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    #end
                    #end
                    #if($type==1)
                    <form id="backForm">
                        <div class="the-information-input border-all height-mark2-anchor">
                            <input type="hidden" name="taskId" value="$!task.taskId">
                            <div class="row clear mar-top-10">
                                <label for="task-remarks"  class="red-star">退回备注：</label>
                            	<textarea rows="5" class="changed-width" placeholder="请输入" id="task-remarks"
                                      name="backComment"></textarea>
                            </div>
                             <div class="row clear mar-top-10">
                             	<!--
                    			<div class="upload-container" style="margin-left:80px;">
                            		<span class="icon icon-pin"></span>
                            		<span id="upload">附件上传</span>
                        		</div>
                        		-->
                                <div class="btn-group footer mar-down-10">
                                    <button type="reset" class="btn-cancel btn"> 重置</button>
                                    <button type="button" class="btn btn-primary" onclick="backed();">退回</button>
                                    <button type="button" class="btn btn-primary" onclick="passed($!task.taskId)">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    #end
                </div>
            </div>
            <div class="right">
                <div class="mar-left-10">
                    <h3 class="table-title">流转记录</h3>
                    <div class="height-mark1 border-all">
                        <!-- stripe table -->
                        <table class="table table-stripe">
                            <thead>
                            <tr>
                                <th>节点名称</th>
                                <th>上一节点名称</th>
                                <th>动作</th>
                                <th>处理人</th>
                                <th>处理时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            #foreach($taskLog in $taskLogs)
                           <tr>
                                <td title="$!taskLog.nodeName">$!taskLog.nodeName</td>
                                <td title="$!taskLog.nodeHandle">$!taskLog.nodeHandle</td>
                                <td title="$!taskLog.nodeActio">$!taskLog.nodeAction</td>
                                <td title="$!taskLog.person">$!taskLog.person</td>
                                <td title="$!taskLog.nodeTime">$!taskLog.nodeTime</td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                        <!-- end -->
                    </div>
                    <h3 class="table-title">附件信息</h3>
                    <div class="height-mark2 border-all">
                        <!-- stripe table -->
                        <table class="table table-stripe">
                           <thead>
				               <tr>
				                    <th>附件名称</th>
				                    <th>上传时间</th>
				                    <th>上传人</th>
				                    <th>是否退回</th>
				                    <th>后补附件</th>
				                    <th>操作</th>
				            	</tr>
				            </thead>
				            <tbody>
				                #foreach($procinstFile in $procinstFiles)
				                  <tr>
				                  	<td style="display:none"><input type="hidden" id="fileTaskId" value="$!task.taskId"></td>
				                    <td title="$!procinstFile.fileName">$!procinstFile.fileName</td>
				                    <td title="$!procinstFile.uploadTime">$!procinstFile.uploadTime</td>
				                    <td title="$!procinstFile.uploadPerson.name">$!procinstFile.uploadPerson.name</td>
				                    #if($!procinstFile.isBack==0)
				                    	<td title="否">否</td>
				                    #else
				                    	<td title="是">是</td>
				                    #end
				                    #if($!procinstFile.nodeId==0)
				                    	<td title="否">否</td>
				                    #else
				                    	<td title="是">是</td>
				                    #end
				                    <td>
				                         <a href="javascript:void(0);" onclick="downloadTempTaskFile($!procinstFile.procinstFileId);">下载</a>
				                    </td>
				                </tr>
				                #end
				            </tbody>
                        </table>
                        <!-- end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="return-task">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3 class="orange-font left weight-bold">退回任务</h3>
            <a href="javascript:void(0)" class="icon-delete right"></a>
        </div>
        <div class="modal-body min-height">
            <div class="the-information-list">
                <p class="mar-top-10">
                    <label>流程名称：</label>
                    <span>施工计划审批</span>
                </p>
                <p class="row clear mar-top-10">
                    <label>流程编号：</label>
                    <span>HC00120</span>
                </p>
                <p class="row clear mar-top-10">
                    <label for="back-reason" class="red-star">退回原因：</label>
                    <textarea name="back-reason" id="back-reason" placeholder="请输入" cols="65" rows="5"></textarea>
                </p>
            </div>
        </div>
        <div class="modal-footer  clear">
            <div class="btn-group">
                <a href="javascript:void(0)" class="btn btn-warn">确认退回</a>
                <a href="javascript:void(0)" class="btn btn-cancel disappear-modal">取消</a>
            </div>
        </div>
    </div>
</div>
<script src="$path/static/js/jquery.min.js" type="application/javascript"></script>
 	<link rel="stylesheet" href="$path/static/css/webuploader.css">
    <link rel="stylesheet" href="$path/static/css/diyUpload.css">
    <script src="$path/static/js/upload/webuploader.html5only.js" type="text/javascript"></script>
    <script src="$path/static/js/upload/diyUpload.js" type="text/javascript"></script>
    <script src="$path/static/js/upload/upload.js" type="text/javascript"></script>
    <script src="$path/static/js/main.js" type="text/javascript"></script>
	<script src="$path/static/js/index.js" type="application/javascript"></script>
	<script src="$path/static/js/alert.js" type="application/javascript"></script>
</body>
</html>
<script>
   var fileArr =[];
   $(function(){
   		 var uuid = $('#uuid').val();
   		 //获取页面中隐藏域uuid的value以及被删除文件名
		$(document).on("click",".diyCancel",function(){
			var fileName = $(this).prev(".diyFileName").text();
			jQuery.ajax({
				async: false,
				type: "post",
				url: "$path/messages/deleteMessageFile",
				dataType: "json",
				data: {"uuid":uuid,"fileName":fileName},
				error: function (request) {
					initAlert(0,"网络错误");
				},
				success: function (data) {
					console.log(data);
					for(x in data){
						initAlert(x,data[x]);
					}
				}
			 });
		})
    });
</script>
<script>
	//项目部处理
	function disposed(){
		var uuid = $('#uuid').val();
		jQuery.ajax({
			type: "post",
			url: "$path/tempTasks/tempTaskDispose",
			data: $('#disposeForm').serialize(),
			dataType: "json",
			error: function (request) {
				initAlert(0,"网络错误");
			},
			success: function (data) {
				jQuery.ajax({
					type: "post",
					url: "$path/tempTasks/uploadTempTaskFile",
					dataType: "json",
					data: { "file": JSON.stringify(fileArr),"id":data.id,"type":"1","uuid":uuid },
					error: function (request) {
						initAlert(0,"网络错误");
					},
					success: function (data) {
					}
				});
				var status;
				for(x in data){
					if(x == 0 || x==1){
						status = x;
					}
				}
				initAlert(status,data[status]);
				setTimeout(function(){
					$("#myiframe",parent.document).attr("src","$path/tasks/task");
					$("[data-href='$path/tasks/task']",parent.document).addClass("selected").siblings().removeClass("selected");
				},3000)
			}
		});	
	}
	
	//部室建议
	function suggested(){
		var uuid = $('#uuid').val();
		jQuery.ajax({
			type: "post",
			url: "$path/tempTasks/tempTaskSuggest",
			data: $('#suggestForm').serialize(),
			dataType: "json",
			error: function (request) {
				initAlert(0,"网络错误");
			},
			success: function (data) {
				jQuery.ajax({
					type: "post",
					url: "$path/tempTasks/uploadTempTaskFile",
					dataType: "json",
					data: { "file": JSON.stringify(fileArr),"id":data.id,"type":"1","uuid":uuid },
					error: function (request) {
						initAlert(0,"网络错误");
					},
					success: function (data) {
					}
				});
				var status;
				for(x in data){
					if(x == 0 || x==1){
						status = x;
					}
				}
				initAlert(status,data[status]);
				setTimeout(function(){
					$("#myiframe",parent.document).attr("src","$path/tasks/task");
					$("[data-href='$path/tasks/task']",parent.document).addClass("selected").siblings().removeClass("selected");
				},3000)
			}
		});	
	}	
		
	//退回	
	function backed(){
		var uuid = $('#uuid').val();
		var result = formValidation($("#backForm"));
		if(!result){
			return false;
		}
		jQuery.ajax({
			type: "post",
			url: "$path/tempTasks/tempTaskBack",
			data: $('#backForm').serialize(),
			dataType: "json",
			error: function (request) {
				initAlert(0,"网络错误");
			},
			success: function (data) {
				jQuery.ajax({
					type: "post",
					url: "$path/tempTasks/uploadTempTaskFile",
					dataType: "json",
					data: { "file": JSON.stringify(fileArr),"id":data.id,"type":"1","uuid":uuid },
					error: function (request) {
						initAlert(0,"网络错误");
					},
					success: function (data) {
					}
				});
				var status;
				for(x in data){
					if(x == 0 || x==1){
						status = x;
					}
				}
				initAlert(status,data[status]);
				setTimeout(function(){
					$("#myiframe",parent.document).attr("src","$path/tasks/task");
					$("[data-href='$path/tasks/task']",parent.document).addClass("selected").siblings().removeClass("selected");
				},3000)
			}
		});	
	}

	//处理通过
	 function passed(id){
		jQuery.ajax({
			type: "post",
			url: "$path/tempTasks/tempTaskPass",
			data: {"id":id},
			dataType: "json",
			error: function (request) {
				initAlert(0,"网络错误");
			},
			success: function (data) {
				var status;
				for(x in data){
					if(x == 0 || x==1){
						status = x;
					}
				}
				initAlert(status,data[status]);
				setTimeout(function(){
					$("#myiframe",parent.document).attr("src","$path/tasks/task");
					$("[data-href='$path/tasks/task']",parent.document).addClass("selected").siblings().removeClass("selected");
				},3000)
			}
		});	
	}
	
	//文件下载
    function downloadTempTaskFile(id){
    	jQuery.ajax({
			type: "get",
			url: "$path/tempTasks/judgeTempTaskFile/"+id,
			dataType: "json",
			error: function (request) {
				initAlert(0,"网络错误");
			},
			success: function (data) {
				for(x in data){
					if(x == 0){
						initAlert(x,data[x]);
					}else{
						location.href="$path/tempTasks/downloadTempTaskFile/"+id;
					}
				}
			}
		 });
	}
	
	//文件删除
	function deleteTempTaskFile(fileId){
	 	jQuery.ajax({
			type: "post",
			url: "$path/tempTasks/deleteTempTaskFile",
			data: {"fileId":fileId},
			dataType: "json",
			error: function (request) {
				alert("网络错误");
			},
			success: function (data) {
				alert(data.result);
			}
		});	
	}
</script>