<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>与我相关-流程详情</title>
    #parse('common/path-css.vm')
</head>
<body>
<div class="wrapper weight-bold">
    <!--planel-->
    <div class="panel">
        <!--planel-head-->
        <div class="panel-head">
            <div class="left mar-left-10">
                <h4 class="has-link">与我相关</h4>
                <b class="blue-font">流程详情</b>
            </div>
            <a href="$path/tasks/relate" class="btn btn-back" target="myiframe">返回</a>
        </div>
        <!--planel-body-->
        <div class="panel-body padding-10">
            <h3 class="table-title">流程图</h3>
            <!--process-picture-->
            <div class="border-all process-picture"></div>
            <!--planel-bottom-->
            <div class="clear panel-bottom mar-top-30 around-layout">
                <div class="left">
                    <div class="mar-left-10">
                        <h3 class="table-title">基本信息</h3>
                        <div class="the-information-list border-all indent-span height-mark1-anchor">
                            <p>
                                <label>任务编号</label>
                                <span>HC00120</span>
                            </p>
                            <p>
                                <label>流程名称</label>
                                <span>施工计划审批</span>
                            </p>
                            <p>
                                <label>流程类型</label>
                                <span>普通</span>
                            </p>
                            <p>
                                <label>流程启动时间</label>
                                <span>2016-08-10 13:23:24</span>
                            </p>
                            <p>
                                <label>限时日期</label>
                                <span>2016-09-10 13:23:24</span>
                            </p>
                            <p>
                                <label>发起人</label>
                                <span>张大力</span>
                            </p>
                            <p>
                                <label>发起部门</label>
                                <span>安质部</span>
                            </p>
                            <p>
                                <label>备注</label>
                                <span>严格按照管理制度执行，不能拖沓</span>
                            </p>
                            <p>
                                <label>完成状态</label>
                                <span>未完成</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="mar-left-10">
                        <h3 class="table-title">流转记录</h3>
                        <div class="height-mark1 border-all">
                            <!-- stripe table -->
                            <table class="table table-stripe">
                                <thead>
                                <tr>
                                    <th>节点名称</th>
                                    <th>部门负责人</th>
                                    <th>时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>安质部下发</td>
                                    <td>办公室主任张大力</td>
                                    <td>2016-08-12 13:23:34</td>
                                </tr>
                                <tr>
                                    <td>项目部整理</td>
                                    <td>办公室主任张大力</td>
                                    <td>2016-08-12 16:23:34</td>
                                </tr>
                                <tr>
                                    <td>项目部整理</td>
                                    <td>项目2部负责人/陈硕峰</td>
                                    <td>2016-08-13 13:23:34</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="$path/static/js/jquery.min.js" type="application/javascript"></script>
<script src="$path/static/js/index.js" type="application/javascript"></script>
</body>
</html>